img {src: url(Imagini/cristi.jpg,);
height: 60%;
width: 30%;
}

.Container {
position: relative;
text-align: bottom;
color: red;
}

.top-right {
position: absolute;
bottom: 83%;
left: 32%;
}

img {src: url(Imagini/fericiti.jpg);
height: 60%;
width: 30%;
}

.MotherContainer {
position: relative;
text-align: bottom;
color:red;
}

.top-left {
position: absolute;
bottom: 80%;
left: 35%;
}


.RLContainer {
position: relative;
text-align: bottom;
color:red;
}

.bottom-left {
position: absolute;
bottom: -5%;
left: 35%;
}
 

.RLNContainer {
position: relative;
bottom: 1835px;
left: 71%;
}
.bottom-right {
position: relative;
text-align: bottom;
left: -3%;
color: red;
}

.DiscordContainer {
position: fixed;
bottom: -0.5%;
right: 0%;
}

.PATCH {
position: relative;
text-align: bottom;
bottom: 1500px;
left: -30%;
}


