img {src: url(Imagini/cristi.jpg,);
height: 60%;
width: 30%;
}

.Container {
position: relative;
text-align: bottom;
color: red;
}

.top-right {
position: absolute;
bottom: 2000px;
left: 600px;
}

img {src: url(Imagini/fericiti.jpg);
height: 60%;
width: 30%;
}

.MotherContainer {
position: relative;
text-align: bottom;
color:red;
}

.top-left {
position: absolute;
bottom: 1200px;
left: 600px;
}


.RLContainer {
position: relative;
text-align: bottom;
color:red;
}

.bottom-left {
position: absolute;
bottom: 50px;
left: 600px;
}
 

.RLNContainer {
position: relative;
bottom: 1860px;
left: 920px;
right: 0px;
}
.bottom-right {
position: relative;
text-align: bottom;
left: 0.2%;
color: red;
}

.DiscordContainer {
position: fixed;
bottom: -0.4%;
right: 0%;
}
